body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f7f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    transition: background-color 0.3s ease;
}

#name-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

#name-form {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#chat-container {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 80vh;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

#chat-header {
    background-color: #007bff;
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 14px;
    height: 50px;
}

#chat-box {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
    background-color: #f9f9f9;
}

#messages {
    display: flex;
    flex-direction: column;
}

#input-container {
    display: flex;
    padding: 10px;
    border-top: 1px solid #ddd;
    background-color: #fff;
}

#msg-input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

#send-btn {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#send-btn:hover {
    background-color: #0056b3;
}

.name {
    font-weight: bold;
    margin-right: 5px;
}

.my-message, .other-message {
    display: inline-block;
    padding: 10px;
    border-radius: 15px;
    margin-bottom: 10px;
    max-width: 80%;
}

.my-message {
    align-self: flex-end;
    background-color: #dcf8c6;
}

.other-message {
    align-self: flex-start;
    background-color: #f1f0f0;
}

/* Style for the timestamp */
.timestamp {
    font-size: 10px;  /* Smaller font size for time */
    color: #888;      /* Optional: Lighter gray color */
    margin-left: 5px; /* Add space between the message and the time */
}